<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Global Studies program.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
    
 <h3>College of Liberal Arts</h3>
  <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/anadolu-okur-nilg-n">Nilgun Anadolu-Okur</a><p><strong>Africology and African American Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/garrett-paul-b">Paul B Garrett</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Hersch</a><p><strong>Greek and Roman Classics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie">Jamie J Fader</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth">Elizabeth Groff</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy">Cathryn-Jo Rosen</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa Harris</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine">Kate Henry</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce">Joyce A Joyce</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole">Nichole E Miller </a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james">James Salazar</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian">Brian Teare</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/walters-shannon">Shannon Walters</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wettach-gabriel">Gabriel Wettach</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gilbert-melissa-r">Melissa R Gilbert</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/iris-lowe-hilary">Hilary Iris Lowe</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Hayes-Alvarez</a><p><strong>Intellectual Heritage</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gjesdal-kristin">Kristin Gjesdal</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/solomon-miriam">Miriam Solomon</a><p><strong>Philosophy</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chae-lee-ann">Lee-Ann Chae</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mucciaroni-gary">Gary Mucciaroni</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newcombe-nora">Nora Newcombe</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/weinraub-marsha">Marsha Weinraub</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/alpert-rebecca">Rebecca T Alpert</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/junior-nyasha">Nyasha Junior</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levitt-laura">Laura S Levitt</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D White</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/czerniawski-amanda">Amanda Czerniawski</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goyette-kimberly">Kimberly Ann Goyette</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kidd-dustin">Dustin Kidd</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/peters-donna-marie">Donna-Marie Peters</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/waidzunas-tom">Tom Waidzunas</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/friedman-amy">Amy Friedman</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groner-rachael">Rachel Groner</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mukherjee-srimati">Srimata Mukherjee</a><p><strong>First Year Writing Program</strong></p></li>
  </ul>
 </div>
</div>
       
   <div class="row">
     <div class="col s12 m6"> 
   
 <ul>  
  <h3>College of Liberal Arts</h3>
  <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/anadolu-okur-nilg-n">Nilgun Anadolu-Okur</a><p><strong>Africology and African American Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/garrett-paul-b">Paul B Garrett</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Hersch</a><p><strong>Greek and Roman Classics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie">Jamie J Fader</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth">Elizabeth Groff</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy">Cathryn-Jo Rosen</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa Harris</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine">Kate Henry</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce">Joyce A Joyce</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole">Nichole E Miller </a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james">James Salazar</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian">Brian Teare</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/walters-shannon">Shannon Walters</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wettach-gabriel">Gabriel Wettach</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gilbert-melissa-r">Melissa R Gilbert</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/iris-lowe-hilary">Hilary Iris Lowe</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Hayes-Alvarez</a><p><strong>Intellectual Heritage</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gjesdal-kristin">Kristin Gjesdal</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/solomon-miriam">Miriam Solomon</a><p><strong>Philosophy</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chae-lee-ann">Lee-Ann Chae</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mucciaroni-gary">Gary Mucciaroni</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newcombe-nora">Nora Newcombe</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/weinraub-marsha">Marsha Weinraub</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/alpert-rebecca">Rebecca T Alpert</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/junior-nyasha">Nyasha Junior</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levitt-laura">Laura S Levitt</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D White</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/czerniawski-amanda">Amanda Czerniawski</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goyette-kimberly">Kimberly Ann Goyette</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kidd-dustin">Dustin Kidd</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/peters-donna-marie">Donna-Marie Peters</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/waidzunas-tom">Tom Waidzunas</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/friedman-amy">Amy Friedman</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groner-rachael">Rachel Groner</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mukherjee-srimati">Srimata Mukherjee</a><p><strong>First Year Writing Program</strong></p></li>
  </ul>
  </ul>
 </div>
</div>
