<hr>

<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Global Studies program.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
    
 <h3>College of Liberal Arts</h3>
  <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nehusi-kimani">Kiman Nehusi</a><p><strong>Africology and African American Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hesson-michael">Michael	Hesson</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/jhala-jayasinhji">Jayasinhj Jhala</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mikhaylova-marina">Marina	Mikhaylova</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/milestone-juris">Juris	Milestone</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roy-christopher">Christopher Roy</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan">Shuchen Huang</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis">Louis Mangione</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thornbury-barbara">Barbara	Thornbury</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/witty-gordon">Gordon	Witty</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul	Rege</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tripp-tara">Tara Tripp</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kushnirsky-fyodor">Fyodor	Kushnirsky</a><p><strong>Economics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz	Ritter</a><p><strong>Economics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fardmanesh-mohsen">Mohsen	Fardmanesh</a><p><strong>Economics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hakim-simon">Simon Hakim</a><p><strong>Economics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa	Harris</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya">Priya Joshi</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/robison-paula">Paula Robinson</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wiley-catherine">Catherine Wiley</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/layman-horn-anne">Anne Layman-Horn</a><p><strong>First Year Writing</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/curran-beth">Beth Curran</a><p><strong>French, German, Italian and Slavic</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/galati-carmelo">Carmelo	Galati</a><p><strong>French, German, Italian and Slavic</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gragnani-cristina">Cristina	Gragnani</a><p><strong>French, German, Italian and Slavic</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/melzer-patricia">Patricia	Melzer</a><p><strong>French, German, Italian and Slavic</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roget-wilbert">Wilbert Roget</a><p><strong>French, German, Italian and Slavic</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chincholkar-mandelia-rujuta-p">Rujuta Chincholkar-Mandelia</a><p><strong>Gender, Sexuality and Women’s Studies</strong></p></li>
  <li><a href="mailto:rimun.murad@temple.edu" title="Rimun Murad">Rimun Murad</a><p><strong>Gender, Sexuality and Women’s Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/andrucki-max">Max	Andrucki</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chakravorty-sanjoy">Sanjoy Chakravorty</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chmara-huff-fletcher">Fletcher Chmara-Huff</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/duffy-tumasz-amelia">Amelia Duffy-Tumasz</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/shell-jacob">Jacob Shell</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thomas-kimberley">Kim Thomas</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/scherer-danielle-k">Danielle Scherer</a><p><strong>Global Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Klaiber Hersch</a><p><strong>Greek and Roman Classics</strong></p></li>
  </ul>
 </div>
       
   <div class="row">
     <div class="col s12 m6"> 
   
 <ul>  
  <h3>College of Liberal Arts</h3>
  <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ricketts-m-nica">Monica	Ricketts</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/corwin-berman-lila">Lila Corwin Berman</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/glasson-travis">Travis Glasson</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a><p><strong>History</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gran-peter">Peter Gran</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/krueger-rita">Rita Krueger</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter">Peter Lavelle</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lockenour-jay">Jay Lockenour</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mcpherson-alan">Alan McPherson</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/neptune-harvey-r">Harvey Neptune</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roney-jessica">Jessica Roney</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ryan-eileen">Eileen	Ryan</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/simon-bryant">Bryant Simon</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/spodek-howard">Howard Spodeck</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/talton-benjamin">Benjamin	Talton</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tibebu-teshale">Teshale Tibebu</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/uno-kathleen">Kathleen Uno</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/urwingregory-j-w">Gregory Urwin</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/young-ralph">Ralph Young</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a><p><strong>Intellectual Heritage</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ostaric-lara">Lara Ostaric</a><p><strong>Philosophy</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/blemings-travis">Travis Blemings</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/deeg-richard">Richard Deeg</a><p><strong>Political Science; CLA Dean</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/farmer-lauren">Lauren Farmer</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/guisinger-alexandra">Alexandra Guisinger</a><p><strong>Political Science</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/howard-alistair">Alistair Howard</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hsueh-roslyn">Roselyn	Hsueh</a><p><strong>Political Science</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/joslyn-richard">Richard Joslyn</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/masker-john-s">John	Masker</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fioretos-k-orfeo">Karl-Orfeo Fioretos</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/pollack-mark">Mark Pollack</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/soifer-hillel-david">Hillel	Soifer</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stanton-jessica">Jessica Stanton</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/su-rez-sandra-l">Sandra Suarez</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/vaynman-jane">Jane Vaynman</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/yom-sean-l">Sean Yom</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ziegfeld-adam">Adam	Ziegfeld</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/abdullah-zain">Zain Abdullah</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Alvarez</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/bingenheimer-marcus">Marcus Bingenheimer</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/blankinship-khalid-y">Khalid Blankinship</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/duckworth-douglas">Douglas Duckworth</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/leuchter-mark">Mark	Leuchter</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nagatomo-shigenori">Shigenori Nagatomo</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rey-terry">Terry Rey</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney White</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/marcus-ben">Benjamin Marcus</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhang-lu">Lu Zhang</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram">Hiram Aldarondo</a><p><strong>Spanish and Portuguese</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Alira Ashvo-Munoz</a><p><strong>Spanish and Portuguese</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/corrales-martin-norma">Norma Corrales-Martin</a><p><strong>Spanish and Portuguese</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/piera-montserrat">Monserrat Piera</a><p><strong>Spanish and Portuguese</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/pueyo-zoco-v-ctor">Victor	Pueyo Zoco</a><p><strong>Spanish and Portuguese</strong></p></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/shellhorse-adam-joseph">Adam Shellhorse</a><p><strong>Spanish and Portuguese</strong></p></li> 
  <li><a href="mailto:Ronald.webb@temple.edu" title="Ronald Webb">Ronald Webb</a><p><strong>Spanish and Portuguese</strong></p></li>   
  </ul>
 </ul>
 </div>
</div>
