<hr>

<h2>2020-2021 Steering Committee</h2>

<ul>
   <li><a title="Zain Abdullah" href="https://liberalarts.temple.edu/academics/faculty/abdullah-zain">Zain Abdullah -&nbsp;</a><strong>Religion</strong></p></li>
   <li><a title="Alexa Firat" href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat -&nbsp;</a><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
   <li><a title="Suzanne Gauch" href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch -&nbsp;</a><strong>English</strong></p></li>
   <li><a title="Patricia Melzerh" href="https://liberalarts.temple.edu/academics/faculty/melzer-patricia">Patricia Melzer -&nbsp;</a><strong>French, German, Italian and Slavic</strong></p></li>
   <li><a title="Jess Newman" href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman -&nbsp;</a><strong>Anthropology</strong></p></li>
   <li><a title="Aunshul Rege" href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul Rege -&nbsp;</a><strong>Criminal Justice</strong></p></li>
   <li><a title="Moritz Ritter" href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz Ritter -&nbsp;</a><strong>Economics</strong></p></li>
   <li><a title="Christina Rosan" href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan -&nbsp;</a><strong>Geography and Urban Studies</strong></p></li>
   <li><a title="Eileen Ryan" href="https://liberalarts.temple.edu/academics/faculty/ryan-eileen">Eileen Ryan -&nbsp;</a><strong>History</strong></p></li>
   <li><a title="Jessica Stanton" href="https://liberalarts.temple.edu/academics/faculty/stanton-jessica">Jessica Stanton -&nbsp;</a><strong>Political Science</strong></p></li>
</ul>
