<hr>

<h2>2020-2021 Steering Committee</h2>

<ul>
   <li><a title="Zain Abdullah" href="https://liberalarts.temple.edu/academics/faculty/abdullah-zain">Zain Abdullah -&nbsp;</a><em>Religion</em></p></li>
   <li><a title="Alexa Firat" href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat -&nbsp;</a><em>Asian and Middle Eastern Languages and Studies</em></p></li>
   <li><a title="Suzanne Gauch" href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch -&nbsp;</a><em>English</em></p></li>
   <li><a title="Patricia Melzerh" href="https://liberalarts.temple.edu/academics/faculty/melzer-patricia">Patricia Melzer -&nbsp;</a><em>French, German, Italian and Slavic</em></p></li>
   <li><a title="Jess Newman" href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman -&nbsp;</a><em>Anthropology</em></p></li>
   <li><a title="Aunshul Rege" href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul Rege -&nbsp;</a><em>Criminal Justice</em></p></li>
   <li><a title="Moritz Ritter" href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz Ritter -&nbsp;</a><em>Economics</em></p></li>
   <li><a title="Christina Rosan" href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan -&nbsp;</a><em>Geography and Urban Studies</em></p></li>
   <li><a title="Eileen Ryan" href="https://liberalarts.temple.edu/academics/faculty/ryan-eileen">Eileen Ryan -&nbsp;</a><em>History</em></p></li>
   <li><a title="Jessica Stanton" href="https://liberalarts.temple.edu/academics/faculty/stanton-jessica">Jessica Stanton -&nbsp;</a><em>>Political Science</em></p></li>
</ul>
