<hr>

<h2>2020-2021 Steering Committee</h2>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/abdullah-zain">Zain Abdullah</a><p><strong>Religion</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a><p><strong>English</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/melzer-patricia">Patricia Melzer</a><p><strong>French, German, Italian and Slavic</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a><p><strong>Anthropology</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul Rege</a><p><strong>Criminal Justice</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz Ritter</a><p><strong>Economics</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan</a><p><strong>Geography and Urban Studies</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ryan-eileen">Eileen Ryan</a><p><strong>History</strong></p></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/stanton-jessica">Jessica Stanton</a><p><strong>Political Science</strong></p></li>
</ul>
